* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
}

.container{
    background-color: black;
    height: 100vh;
}

header{
    height: 5%;
    color: white;
    position: relative;
}

.header-settings{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 14px;
}

.view-options{
    background-color: #4a4a4a;
    padding: 3px;
    border-radius: 5px;
    vertical-align: middle;
}

.view-options:hover{
    cursor: pointer;
}

.dimention-icon{
    background-color: #4a4a4a;
    padding: 3px;
    border-radius: 5px;
    vertical-align: middle;
}

.dimention-icon:hover{
    cursor: pointer;
}

main{
    height: calc(100% - 5% - 10%);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.webcam{
    width: calc(100%/7);
    height: calc(100%/5);
    background-image: url("https://i.picsum.photos/id/830/200/200.jpg?hmac=3ce7zNUn5yg_XKy7dHgIHta7t_0vghPQnAGUSGJuBZE");
    border: 3px solid black;
    position: relative;

}

.overlay{
    width: 50%;
    height: 25px;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 0;

}

.username{
    color: white;
    font-size: 12px;
    width: 50%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer{
    height: 10%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mic-cam{
    width: 12%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.main-settings{
    width: 45%;
    height: 75px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exit-button{
    width: 12%;
    height: 75px;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-microphone{
    font-size: 25px;
    padding: 5px;
}

.fa-video{
    font-size: 25px;
    padding: 5px;
}

.setting{
    text-align: center;
}

.icon{
    font-size: 25px;   
}

.action{
    font-size: 14px;
    margin-top: 10px;
}

.fa-share-from-square{
    color: rgb(58, 225, 58);
}

.end{
    font-weight: bold;
    color: red;
}
